<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">

<title>ReCoDa - Relicensing Combined Datasets</title>
</head>
<body>
	<nav class="navbar navbar-light bg-dark sticky-top">
		<span class="navbar-brand mb-0 h1"><a class="navbar-brand"
			href="/">Relicensing Combined Datasets (ReCoDa)</a></span>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link active" target="_blank"
				href="https://www.uni-paderborn.de/person/9101/">contact</a></li>
		</ul>
	</nav>

	<div class="container-lg mt-3">

		<div class="alert alert-danger" role="alert">Error</div>

		<table>
			<tr>
				<td>Date</td>
				<td th:text="${timestamp}" />
			</tr>
			<tr>
				<td>Path</td>
				<td th:text="${path}" />
			</tr>
			<tr>
				<td>Error</td>
				<td th:text="${error}" />
			</tr>
			<tr>
				<td>Status</td>
				<td th:text="${status}" />
			</tr>
			<tr>
				<td>Message</td>
				<td th:text="${message}" />
			</tr>
			<tr>
				<td>Exception</td>
				<td th:text="${exception}" />
			</tr>
			<tr>
				<td>Trace</td>
				<td><pre th:text="${trace}" /></td>
			</tr>
		</table>

	</div>

</body>
</html>