<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/superhero/bootstrap.min.css">

<title>ReCoDa - Relicensing Combined Datasets</title>
</head>
<body>
	<nav class="navbar navbar-light bg-dark sticky-top">
		<span class="navbar-brand mb-0 h1"><a class="navbar-brand"
			href="/">Relicensing Combined Datasets (ReCoDa)</a></span>
		<ul class="nav">
			<li class="nav-item"><a class="nav-link active" target="_blank"
				href="https://www.uni-paderborn.de/person/9101/">contact</a></li>
		</ul>
	</nav>


	<div class="container-lg mt-3">

		<h1>Demo examples</h1>

		<ul>
			<li><a
				href="/demo/combine?knowledge-base=CreativeCommons-LicenseCompatibilityChart">
					<strong>combine</strong><br />
					?knowledge-base=CreativeCommons-LicenseCompatibilityChart
			</a></li>
		</ul>


		<h1>Webservice examples</h1>

		<ul>
			<li><a href="/webservice/knowledge-bases"><strong>knowledge-bases</strong></a></li>
			<li><a
				href="/webservice/licenses?knowledge-base=CreativeCommons-LicenseCompatibilityChart">
					<strong>licenses</strong><br />
					?knowledge-base=CreativeCommons-LicenseCompatibilityChart
			</a></li>
			<li><a
				href="/webservice/compatible-licenses?knowledge-base=CreativeCommons-LicenseCompatibilityChart&input-licenses=http://creativecommons.org/publicdomain/zero/1.0/,http://creativecommons.org/publicdomain/mark/1.0/">
					<strong>compatible-licenses</strong><br />
					?knowledge-base=CreativeCommons-LicenseCompatibilityChart<br />
					&input-licenses=http://creativecommons.org/publicdomain/zero/1.0/,<br />
					http://creativecommons.org/publicdomain/mark/1.0/
			</a></li>
		</ul>
	</div>

</body>
</html>