<!doctype html>
<html lang="en">
<head th:replace="fragments/template.html :: head">
<body>

	<nav th:replace="fragments/template.html :: nav"></nav>

	<div class="container-lg mt-3">

		<h3>Relicensing Combined Datasets</h3>

		<div class="text-center">
			<img src="/Creative-Commons-License-Compatibility-Chart.png"
				class="img-fluid" alt="Creative Commons License Compatibility Chart">
			<br />Image source: <a target="_blank"
				href="https://wiki.creativecommons.org/index.php?title=Wiki/cc_license_compatibility&oldid=70058">wiki.creativecommons.org</a>
		</div>

		<div class="text-center">
			<img src="/ReCoDa-License-Attributes.png" class="img-fluid"
				alt="ReCoDa License Attributes">
		</div>

		<div class="text-center">
			<img src="/ReCoDa-Compatible-Licenses.png" class="img-fluid"
				alt="ReCoDa Compatible Licenses">
		</div>


	</div>

</body>
</html>